<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/sdk/static/css/layui.css">
    <link rel="stylesheet" href="/sdk/static/">
    <script src="/sdk/static/layui.all.js"></script>
</head>
<body>
<!--<button class="layui-btn layui-btn-primary">一个标准的按钮</button>-->
<!--<button class="layui-btn ">一个标准的按钮</button>-->
<!--<button class="layui-btn layui-btn-normal">一个标准的按钮</button>-->
<!--<button class="layui-btn layui-btn-warm">一个标准的按钮</button>-->
<!--<button class="layui-btn layui-btn-danger"></button>-->

<div class="chess">
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <div class="qizi"></div>
    <span class="heng"></span><span class="heng"></span><span class="heng"></span><span class="heng"></span><span
        class="heng"></span><span class="heng"></span><span class="heng"></span><span class="heng"></span><span
        class="heng"></span><span class="heng"></span><span class="heng"></span><span class="heng"></span><span
        class="heng"></span><span class="heng"></span><span class="heng"></span><span class="heng"></span><span
        class="heng"></span><span class="heng"></span><span class="heng"></span><span class="heng"></span><span
        class="shu"></span><span class="shu"></span><span class="shu"></span><span class="shu"></span><span
        class="shu"></span><span class="shu"></span><span class="shu"></span><span class="shu"></span><span
        class="shu"></span><span class="shu"></span><span class="shu"></span><span class="shu"></span><span
        class="shu"></span><span class="shu"></span><span class="shu"></span><span class="shu"></span><span
        class="shu"></span><span class="shu"></span><span class="shu"></span><span class="shu"></span></div>
</body>
</html>