<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--</body>-->
<!--</html>-->

<div class="layui-side-scroll">
    <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
    <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
            <a class="" href="javascript:;">管理栏目</a>
            <dl class="layui-nav-child">
                <dd><a href="/sdk/index.php/managecate">查看栏目</a></dd>
                <dd><a href="/sdk/index.php/managecate/insert">添加栏目</a></dd>
            </dl>
        </li>

        <li class="layui-nav-item layui-nav-itemed">
            <a class="" href="javascript:;">管理店铺</a>
            <dl class="layui-nav-child">
                <dd><a href="/sdk/index.php/manageshop/query">查看店铺</a></dd>
                <dd><a href="/sdk/index.php/manageshop/insert">添加店铺</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item layui-nav-itemed">
            <a class="" href="javascript:;" lay-verify="required">管理店铺商品分类</a>
            <dl class="layui-nav-child">
                <dd><a href="/sdk/index.php/managetype/query" lay-verify="required">查看店铺商品分类</a></dd>
                <dd><a href="/sdk/index.php/managetype">添加店铺商品分类</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item layui-nav-itemed">
            <a class="" href="javascript:;" lay-verify="required">管理商品</a>
            <dl class="layui-nav-child">
                <dd><a href="/sdk/index.php/managegoods/query" lay-verify="required">查看商品</a></dd>
                <dd><a href="/sdk/index.php/managegoods">添加商品</a></dd>
            </dl>
        </li>
    </ul>
</div>