html,body{
    width:100%;
    height:100%;
    overflow: hidden;
}
body{
    display:  flex;
    justify-content: center;
    align-items: center;

}
-wedkit-input-placeholder{

}
.box{
    width: 400px;
    height: auto;
    padding: 15px 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}


.box>h2{
    line-height:40px ;
    text-align: center;
}
.layui-form-item{
    position: relative;

}
.layui-form-label>.layui-icon {
    color: #e6e6e6;
}
.layui-form-item >.layui-form-label{
    width: 0;
    position: absolute;
    left: 0;
    top:0;
    z-index: 999;
}
.layui-form-item >.layui-input-block{
    margin-left: 0;
}
.layui-input{
    padding-left: 40px;
}
.layui-btn{
    width: 100%;
}